rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // allow all reads for everything to debug
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
